<div class="bootstrap-wrapper">
    <div class="container text-center mt">
        <div class="col-md-6 offset-md-3">
            <div class="container text-center">
                <img class="img-fluid" src="/assets/chat.png" style="width: 50px;">
                <b><h1 style="margin-top:15px; color: rgb(7, 7, 231);">My chat App</h1></b>
            </div>
         <form>
            <textarea id="messageshow" name="w3review" rows="16" cols="50">
            </textarea>
            <br>
            <input class="message text-center" type="text" placeholder="Enter text to chat">
            <button style="margin-left: 10px;" mat-fab color="primary" aria-label="Example icon button with a delete icon">
               <mat-icon>send</mat-icon>
             </button>
         </form>
        </div>
    </div>
</div>