.chat
{
height:500px;
margin-top:30px;
width:420px;
text-align:center;
border: 2px solid rgb(202, 199, 199);
margin-left:400px;
}

.message
{
	width:420px;	
    height:50px;
    margin-left: 12px;
	border-radius: 30px;
	border: 2px solid rgb(202, 199, 199);
	
}


#messageshow
{
	border: 2px solid rgb(202, 199, 199);
	width:500px;
}   